<div class="chat-room">
    <div class="chat-msgs">
        <div class="chat col-md-12">
            <div class="bubble you">
                <span class="author">Author:</span>
                <span class="msg-text">Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.Hi. I'm an expandeable chat box with box shadow. How are you? I expand horizontally and vertically, as you can see here.</span>
                <small class="timestamp">Date...</small>
            </div>
            <div class="bubble me">
                <span class="author">Me:</span>
                <span class="msg-text">Hi. How are you?</span>
                <small class="timestamp">Date...</small>
            </div>
        </div>
    </div>
    <div class="new-message">
        <form ng-submit="chatRoom.send()">
            <div class="form-group">
                <div class="input-group">
                    <textarea class="form-control msg-input"></textarea>
                    <span class="input-group-addon msg-send">
              <i class="fa fa-send"></i>
              <span>Send</span>
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>
