<nav id="contacts" role="navigation">
  <div id="new-contact">
    <ul class="nav">
      <li>
        <a ng-click="contacts.addNew()">
          <i class="fa fa-plus fa-2x"></i>
          <span>ADD CONTACT</span>
        </a>
      </li>
      <ul>
  </div>
  <div id="contact-list-container">
    <ul id="contact-list" class="nav">
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1 dasd adas das ads da sd asdas dadas da sda</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
      <li class="contact-li">
        <a ng-click="contact.loadContactChat()">
          <img class="user-img" src="images/default-user.jpg"/>
          <span class="user-name">Contact 1</span>
          <i class="fa fa-circle text-success"></i>
        </a>
      </li>
    <ul>
  </div>
</nav>
