<nav id="groups" role="navigation">
    <div id="new-group">
        <ul class="nav">
            <li>
                <a ng-click="groups.addGroup()">
                    <i class="fa fa-plus fa-2x"></i>
                    <span>NEW GROUP</span>
                </a>
            </li>
            <ul>
    </div>
    <div id="group-list-container">
        <ul id="group-list" class="nav">
            <li class="group-li" ng-repeat="chat in groups.list track by $index | orderBy:'chat.chatname'">
                <a ng-click="groups.loadGroupChat(chat._id)">
                    <img class="group-img" src="images/default-group.jpg" />
                    <span class="group-name">{{chat.chatname}}</span>
                    <i class="fa {{groups.resolveStatusClass()}}"></i>
                </a>
            </li>
            <ul>
    </div>
</nav>
