<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <a class="navbar-brand">
      <img src="images/brand-logo.png" class="brand-logo" alt="logo" />
      <strong>MassChat</strong>
    </a>
    <div class="nav-user-settings navbar-right">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- Replace with gravatar -->
            <img class="my-img" src="images/default-user.jpg"/>
            <strong>username </strong>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-click="loadUsageReports()">
                <i class="fa fa-line-chart navigation-icon"></i>
                <span>See your usage</span>
              </a>
            </li>
            <li>
              <a ng-click="loadProfileSettings()">
                <i class="fa fa-cogs navigation-icon"></i>
                <span>Profile settings</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="logout()">
                <i class="fa fa-sign-out navigation-icon"></i>
                <span>Sign out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
