<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#toggle-menu">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img src="images/brand-logo.png" alt="logo" />
        <strong>MassChat</strong>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="toggle-menu">
      <ul class="nav navbar-nav">
      </ul>
    </div>

    <div class="nav-user-settings">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <!-- Replace with gravatar -->
            <i class="fa fa-user"></i>
            <strong>username </strong>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a ng-click="loadUsageReports()">
                <i class="fa fa-line-chart navigation-icon"></i>
                <span>See your usage</span>
              </a>
            </li>
            <li>
              <a ng-click="loadProfileSettings()">
                <i class="fa fa-cogs navigation-icon"></i>
                <span>Profile settings</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a ng-click="logout()">
                <i class="fa fa-sign-out navigation-icon"></i>
                <span>Sign out</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
